.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Garante que a página tenha no mínimo a altura da janela */
}

.content-wrapper {
  flex: 1; /* Faz o conteúdo ocupar o espaço restante */
}

.footer {
  text-align: center;
  font-size: small;
  background-color: #0A0B0D;
  color: #F2A74B;
  height: 50px;
  width: 100%;
}
