<div class="container responsive-grid">
  <mat-card *ngFor="let card of cards()">
    <img mat-card-image
         alt="Imagem"
         style="max-width: 100px; max-height: 100px"
         class="mat-mdc-card-image mdc-card__media"
         [src]="'http://localhost:8080/api/storage/image/download/' + card.idStorage + '/' + card.nameImage">
    <mat-card-title class="centered-text">{{ card.name }}</mat-card-title>
    <br/>
    <mat-card-content class="centered-text">
      R$ {{ card.price }}
    </mat-card-content>

    <mat-card-actions class="centered-text">
      <button mat-button color="primary">Ver Mais ...</button>
    </mat-card-actions>

    <mat-card-footer>
      <button mat-button color="accent" style="width: 100%; padding: 16px;">
        Adicionar ao Carrinho
      </button>
    </mat-card-footer>
  </mat-card>
</div>
