/* Estilo para imagens */
img {
  max-width: none !important;
  max-height: none !important;
  display: block; /* Remove espaço extra em imagens dentro de elementos inline */
  width: 100%;
  height: 240px;
  object-fit: cover; /* Garante que a imagem preencha o espaço mantendo proporção */
}

/* Estilo para o container principal */
.container {
  padding: 20px;
}

/* Grid responsivo para os itens */
.responsive-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Layout responsivo */
  gap: 20px; /* Espaço entre os itens */
}

/* Texto centralizado */
.centered-text {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Estilo para a imagem dentro do card */
.mat-mdc-card-image {
  padding: 10px; /* Espaçamento interno */
}

/* Estilo para o título do card */
.mat-mdc-card-title {
  text-align: left; /* Alinhamento do texto à esquerda */
}

.link {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.link:hover {
  color: #0073e6;
}

