<mat-toolbar color="primary">
  <img src="assets/images/logo.jpg" style="height: 50px;  margin-right: 16px; cursor: pointer;"
       (click)="navigateHome()" alt="">


  <span class="spacer"></span>

  <mat-form-field appearance="outline" class="search-field">
    <mat-label>Buscar</mat-label>
    <input matInput (keyup.enter)="onSearch(searchInput.value)" #searchInput>
    <button mat-icon-button matSuffix aria-label="Search" (click)="onSearch(searchInput.value)">
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>

  <span class="spacer"></span>

  <button mat-icon-button
          (click)="login()"
          aria-label="Minha Conta"
          [routerLink]="['/minha-conta']"
          class="custom-button">
    <mat-icon>person</mat-icon>
  </button>

  <button mat-icon-button
          aria-label="Carrinho"
          [routerLink]="['/carrinho']"
          class="custom-button">
    <mat-icon>shopping_cart</mat-icon>
  </button>

  <button mat-icon-button (click)="onExit()"
          aria-label="Carrinho"
          [routerLink]="['/ecommerce']"
          class="custom-button">
    <mat-icon>exit_to_app</mat-icon>
  </button>

</mat-toolbar>
<router-outlet></router-outlet>
<app-footer></app-footer>
