<mat-toolbar color="primary">
  <img src="assets/images/logo.jpg" style="height: 50px;  margin-right: 16px; cursor: pointer;"
       (click)="navigateHome()" alt="">


  <span class="spacer"></span>

  <span class="spacer"></span>

  <button mat-icon-button
          (click)="login()"
          aria-label="Minha Conta"
          [routerLink]="['/minha-conta']"
          class="custom-button">
    <mat-icon>person</mat-icon>
  </button>

  <button mat-icon-button
          aria-label="Carrinho"
          [routerLink]="['/carrinho']"
          class="custom-button">
    <mat-icon>shopping_cart</mat-icon>
  </button>

  <button mat-icon-button (click)="onExit()"
          aria-label="Carrinho"
          [routerLink]="['/ecommerce']"
          class="custom-button">
    <mat-icon>exit_to_app</mat-icon>
  </button>
</mat-toolbar>
<app-footer></app-footer>
