<nav class="navbar">
  <button [routerLink]="['/home']">INÍCIO</button>
</nav>

<div class="container">
  <div class="card">
    <button [routerLink]="['/address']" mat-flat-button>Endereço</button>
  </div>

  <div class="card">
    <button [routerLink]="['/client']" mat-flat-button>Cliente</button>
  </div>

  <div class="card">
    <button [routerLink]="['/coupon']" mat-flat-button>Cupom</button>
  </div>

  <div class="card">
    <button [routerLink]="['/employee']" mat-flat-button>Funcionários</button>
  </div>

  <div class="card">
    <button [routerLink]="['/municipality']" mat-flat-button>Município</button>
  </div>

  <div class="card">
    <button [routerLink]="['/orderItem']" mat-flat-button>Items Pedidos</button>
  </div>

  <div class="card">
    <button [routerLink]="['/orders']" mat-flat-button>Pedidos</button>
  </div>

  <div class="card">
    <button [routerLink]="['/states']" mat-flat-button>Estado</button>
  </div>

  <div class="card">
    <button [routerLink]="['/stock']" mat-flat-button>Estoque</button>
  </div>

  <div class="card">
    <button [routerLink]="['/watches']" mat-flat-button>Relógio</button>
  </div>

  <div class="card">
    <button [routerLink]="['/payment']" mat-flat-button>Pagamento</button>
  </div>

  <div class="card">
    <button [routerLink]="['/storage']" mat-flat-button>Armazenamento</button>
  </div>
</div>




