.footer-title {
  flex: 1;
  text-align: center;
  font-size: small;
}

.footer {
  text-align: center;
  font-size: small;
  background-color: #0A0B0D;
  color: #F2A74B;
  position: fixed;
  bottom: 0;
}


