<form [formGroup]="watchForm" (ngSubmit)="onSubmit()">
  <h2>Cadastro de Relógio</h2>

  <div class="form-group">
    <label for="name">Nome</label>
    <input formControlName="name" type="text" id="name" placeholder="Digite o nome">

    <div *ngIf="watchForm.get('name')?.invalid && (watchForm.get('name')?.touched || watchForm.get('name')?.dirty)">
      <small *ngIf="watchForm.get('name')?.errors?.['required']">O nome é obrigatório.</small>
    </div>
  </div>

  <div class="form-group">
    <label for="description">Descrição</label>
    <input formControlName="description" type="text" id="description" placeholder="Digite a descrição">
    <div
      *ngIf="watchForm.get('description')?.invalid && (watchForm.get('description')?.touched || watchForm.get('description')?.dirty)">
      <small *ngIf="watchForm.get('description')?.errors?.['required']">A descrição é obrigatória.</small>
    </div>
  </div>

  <div class="form-group">
    <label for="price">Preço</label>
    <input formControlName="price" type="number" id="price" placeholder="Digite o preço">
    <div *ngIf="watchForm.get('price')?.invalid && (watchForm.get('price')?.touched || watchForm.get('price')?.dirty)">
      <small *ngIf="watchForm.get('price')?.errors?.['required']">O preço é obrigatório.</small>
      <small *ngIf="watchForm.get('price')?.errors?.['min']">O preço deve ser maior que 0.</small>
    </div>
  </div>

  <div class="form-group">
    <label for="material">Material</label>
    <input formControlName="material" type="text" id="material" placeholder="Digite o material">
    <div
      *ngIf="watchForm.get('material')?.invalid && (watchForm.get('material')?.touched || watchForm.get('material')?.dirty)">
      <small *ngIf="watchForm.get('material')?.errors?.['required']">O material é obrigatório.</small>
    </div>
  </div>

  <div class="form-group">
    <label for="color">Cor</label>
    <input formControlName="color" type="text" id="color" placeholder="Digite a cor">
    <div *ngIf="watchForm.get('color')?.invalid && (watchForm.get('color')?.touched || watchForm.get('color')?.dirty)">
      <small *ngIf="watchForm.get('color')?.errors?.['required']">A cor é obrigatório.</small>
    </div>
  </div>

  <div class="form-group">
    <label for="gender">Gênero</label>
    <select formControlName="gender" id="gender" class="form-control" required>
      <option value="" disabled selected>Selecione o gênero</option>
      <option value="Masculino">Masculino</option>
      <option value="Feminino">Feminino</option>
      <option value="Unissex">Unissex</option>
    </select>
    <div
      *ngIf="watchForm.get('gender')?.invalid && (watchForm.get('gender')?.touched || watchForm.get('gender')?.dirty)">
      <small *ngIf="watchForm.get('gender')?.errors?.['required']">O gênero é obrigatório.</small>
    </div>
  </div>

  <div class="form-group">
    <label for="brand">Marca</label>
    <input formControlName="brand" type="text" id="brand" placeholder="Digite a marcar">
    <div *ngIf="watchForm.get('brand')?.invalid && (watchForm.get('brand')?.touched || watchForm.get('brand')?.dirty)">
      <small *ngIf="watchForm.get('brand')?.errors?.['required']">A marcar é obrigatório.</small>
    </div>
  </div>

  <div class="form-group">
    <label for="format">Formato</label>
    <input formControlName="format" type="text" id="format" placeholder="Digite o formato">
    <div
      *ngIf="watchForm.get('format')?.invalid && (watchForm.get('format')?.touched || watchForm.get('format')?.dirty)">
      <small *ngIf="watchForm.get('format')?.errors?.['required']">O formato é obrigatório.</small>
    </div>
  </div>

  <div class="form-group">
    <label for="mechanism">Mecanismo</label>
    <input formControlName="mechanism" type="text" id="mechanism" placeholder="Digite o mecanismo">
    <div
      *ngIf="watchForm.get('mechanism')?.invalid && (watchForm.get('mechanism')?.touched || watchForm.get('mechanism')?.dirty)">
      <small *ngIf="watchForm.get('mechanism')?.errors?.['required']">O mecanismo é obrigatório.</small>
    </div>
  </div>

  <div class="form-group">
    <label for="imagePerfil">Selecionar Imagem:</label>
    <input id="imagePerfil" type="file" (change)="onFileSelected($event)" accept="image/*" required />
  </div>

  <input type="submit" [value]="buttonName" [disabled]="watchForm.invalid">
  <button [routerLink]="['/admin/watches']">Cancelar</button>
</form>
