.main {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  color: #333;
}

.main h3 {
  text-align: center;
  color: #007bff;
  font-size: 24px;
  margin-bottom: 20px;
}

.main .info,
.main .address {
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
}

.main h5 {
  margin-bottom: 15px;
  color: #555;
  font-size: 18px;
}

.main p {
  margin: 5px 0;
  line-height: 1.6;
}

.main p strong {
  color: #333;
}

.main .info div,
.main .address div {
  margin-bottom: 10px;
}

.main .address div {
  border-top: 1px dashed #ddd;
  padding-top: 10px;
}

.main .address div:first-child {
  border-top: none;
  padding-top: 0;
}

.address .header button {
  background-color: #007bff;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: none;
}

.address .header button:hover {
  background-color: #0056b3; /* Cor do botão ao passar o mouse */
}

.address .header button.mat-flat-button {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Sombras mais suaves */
}
.address .header {
  display: flex;
  justify-content: space-between; /* Distribui espaço entre o título e o botão */
  align-items: center; /* Alinha verticalmente no centro */
  margin-bottom: 1rem; /* Adiciona espaçamento abaixo do cabeçalho */
}

.address .header h5 {
  margin: 0;
}

.address .header button {
  margin-left: auto;
}

.delete-icon {
  cursor: pointer;
  color: #f44336;
  font-size: 24px;
  transition: color 0.2s ease-in-out;
}

.delete-icon:hover {
  color: #d32f2f;
}
