<nav class="navbar">
  <button [routerLink]="['/home']">Início</button>
  <div class="search-bar">
    <mat-form-field appearance="outline" class="full-width">
      <input matInput placeholder="Buscar armazenamento" (keyup)="applyFilter($event)" />
    </mat-form-field>
  </div>
</nav>

<div class="title">
  <h1>Lista de Armazenamento</h1>
</div>

<div class="div-cadastro">
  <button [routerLink]="['/storage/create']" class="mr-1" mat-flat-button>Cadastrar</button>
</div>

<div class="table-center">
  <div class="mat-elevation-z8 table-with">
    <table mat-table [dataSource]="dataSource">

      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> No.</th>
        <td mat-cell *matCellDef="let element"> {{ element.id }}</td>
      </ng-container>

      <!-- ID Watch Column -->
      <ng-container matColumnDef="idWatch">
        <th mat-header-cell *matHeaderCellDef> ID Watch</th>
        <td mat-cell *matCellDef="let element"> {{ element.idWatch }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name</th>
        <td mat-cell *matCellDef="let element"> {{ element.name }}</td>
      </ng-container>

      <!-- Image Column -->
      <ng-container matColumnDef="url">
        <th mat-header-cell *matHeaderCellDef> Image </th>
        <td mat-cell *matCellDef="let element">
          <img mat-card-image
               alt="Imagem"
               style="max-width: 100px; max-height: 100px"
               class="mat-mdc-card-image mdc-card__media"
               [src]="'http://localhost:8080/api/storage/image/download/' + element.idWatch + '/' + element.name">
        </td>
      </ng-container>

      <!-- Options Column -->
      <ng-container matColumnDef="options">
        <th class="text-center" mat-header-cell *matHeaderCellDef> Opções</th>
        <td class="text-center" mat-cell *matCellDef="let element">
          <button (click)="onDelete(element.id)" color="warn" mat-flat-button>Delete</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10, 20]"
                   showFirstLastButtons
                   aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>
</div>
