.container {
  height: 100vh;
}

.drawer {
  width: 300px;
  background-color: #ffffff;
  color: white;
  border-top-right-radius: 0 !important;
}

.drawer-header {
  color: white;
  background-color:  #0A0B0D;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  height: 104px;
}

.drawer-item {
  padding: 10px 20px;
  color: white;
  transition: background-color 0.3s ease;
}

.drawer-item:hover {
  background-color: #949494;
  cursor: pointer;
}

.drawer-item[routerLinkActive] {
  background-color: #7986cb;
}

.container {
  height: 100vh;
  overflow: hidden;
}

mat-drawer-content {
  height: 100%;
  overflow: hidden;
}





